**/linux64GccDPInt32Opt
*/.cache/
**/lnInclude/
__pycache__/
mcp.json
*.svg
*.cvg
*.sta
.venv_fdm/
.codex
mesh_accuracy_efficiency_comparison.md
Plan_1-5_Finished.md
Plan.md
AGARD4456_M0499_FSI_steps.md
AGARD4456_FSI_work_log.md
